    <!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <a asp-action="SEC_Login" asp-area="SEC_Login" asp-controller="SEC_Login"></a>
    <main id="main" class="main">
        @RenderBody()
    </main>




    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
