@model Student_Master_Areas.Areas.MST_Branch.Models.MST_BranchModel;
@{
    string opration = "";
    if (ViewBag.ID > 0)
    {
        opration = "Edit";
    }
    else
    {
        opration = "Add";
    }
}

<div class="row ">
    <div class="col-lg-8 align-items-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@opration Record</h5>
                <!-- Horizontal Form -->
                <form asp-action="MST_BranchAddEdit" asp-area="MST_Branch" asp-controller="MST_Branch" method="POST">
                    @Html.HiddenFor(x => x.BranchID)
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Branch Name</label>
                        <div class="col-sm-9">
                            <input asp-for="BranchName" type="text" class="form-control">
                            <span asp-validation-for="BranchName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Branch Code</label>
                        <div class="col-sm-9">
                            <input asp-for="BranchCode" type="text" class="form-control">
                            <span asp-validation-for="BranchCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="text-left">
                        <button type="submit" class="btn btn-primary">@opration Record</button>
                        <button asp-action="Cancel" asp-area="MST_Branch" asp-controller="MST_Branch" class="btn btn-primary">Cancel</button>
                    </div>
                </form><!-- End Horizontal Form -->

            </div>
        </div>

    </div>
</div>